//Font
@import url(https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900);

$Qs: 'Quicksand', sans-serif;
$Rw: 'Raleway', sans-serif;

//Colors Palette

$green-100: #688273;
$green-200: #556f72;
$green-300: #dff1ef;
$green-400: #719484;
$green-500: #6fae84;

$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);

//Functions

//Presets
.img-resp {
	width: 100%;
	margin: 0 !important;
	padding: 0 !important;
}

.rounded {
	border-radius: 6px;
}

.round {
	border-radius: 60em;
}

//Breakpoints

// @media (max-width: 990px) {
// 	.register-form-container {
// 		margin-top: 1em !important;
// 	}
// }

@media (max-width: 930px) {
	.hero-text {
		font-size: 3em !important;
	}

	.person {
		flex-direction: column !important;

		.r-side {
			width: 100% !important;
			margin-bottom: 1.5em;

			img {
				width: 40% !important;
			}
		}
		.l-side {
			width: 100% !important;
		}
	}
}

@media (max-width: 768px) {
}

@media (max-width: 560px) {
	.hero-text-container {
		padding: 0 3em !important;
	}

	.person {
		flex-direction: column !important;

		.r-side {
			width: 100% !important;
			margin-bottom: 1.5em;

			img {
				width: 70% !important;
			}
		}
	}
}
